/* Modo Escuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header {
    background-color: #1f1f1f;
    color: white;
}

body.dark-mode .section {
    background-color: #1f1f1f;
    color: white;
}

body.dark-mode #projetos {
    background-color: #1f1f1f; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
}

body.dark-mode #projetos h2 {
    color: #3498db; /* Azul para o título */
}

body.dark-mode .projeto-item {
    background-color: #333; /* Fundo escuro para os itens */
    color: #e0e0e0; /* Texto claro */
    border: 1px solid #444; /* Borda mais suave */
}

body.dark-mode .projeto-item h3 {
    color: #e0e0e0; /* Títulos em cor clara */
}

body.dark-mode .projeto-item p {
    color: #ccc; /* Texto das descrições mais claro */
}

body.dark-mode .projeto-item a {
    color: #3498db;
}

body.dark-mode .projeto-item a:hover {
    text-decoration: underline;
}

body.dark-mode input, body.dark-mode textarea {
    background-color: #333;
    color: #fff;
}

body.dark-mode button {
    background-color: #3498db;
    color: white;
}

body.dark-mode footer {
    background-color: #1f1f1f;
    color: white;
}

/* Modo Claro */
body {
    background-color: #ffffff;
    color: #333333;
}

header {
    background-color: #f4f4f4;
    color: #333333;
}
